@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-brand: #897160;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

.hero-slider-wrap .hero-slider .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.hero-slider-wrap .hero-slider .slick-dots {
  bottom: 30px;
  z-index: 10;
}

.hero-slider-wrap .hero-slider .slick-dots li {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.hero-slider-wrap .hero-slider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 15px;
  height: 15px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.hero-slider-wrap .hero-slider .slick-dots li.slick-active button::before {
  opacity: 1;
  background: #df4921;
  border-color: #df4921;
}

.hero-slider-wrap .hero-slider .slick-dots li button::before {
  font-family: "slick";
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: "•";
  text-align: center;
  opacity: 1;
  color: transparent;
  border: 1px solid white;
  border-radius: 50%;
}
